In [58]:
import numpy as np
import pandas as pd
from pandas_datareader import data

In [101]:
df_russell = data.get_data_yahoo('^RUT')

In [102]:
df_russell.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-09-02,1146.030029,1128.050049,1128.050049,1146.030029,37426200,1146.030029
2015-09-03,1157.630005,1143.790039,1148.619995,1145.150024,35207000,1145.150024
2015-09-04,1142.550049,1130.750000,1132.949951,1136.170044,31670900,1136.170044
2015-09-08,1162.449951,1139.069946,1139.069946,1161.760010,35486500,1161.760010
2015-09-09,1170.199951,1147.329956,1162.719971,1148.229980,36521200,1148.229980

In [103]:
df_russell.shape

(1258, 6)

In [104]:
df_russell = df_russell.reset_index()
df_russell

,Date,High,Low,Open,Close,Volume,Adj Close
0,2015-09-02,1146.030029,1128.050049,1128.050049,1146.030029,37426200,1146.030029
1,2015-09-03,1157.630005,1143.790039,1148.619995,1145.150024,35207000,1145.150024
2,2015-09-04,1142.550049,1130.750000,1132.949951,1136.170044,31670900,1136.170044
3,2015-09-08,1162.449951,1139.069946,1139.069946,1161.760010,35486500,1161.760010
4,2015-09-09,1170.199951,1147.329956,1162.719971,1148.229980,36521200,1148.229980
...,...,...,...,...,...,...,...
1253,2020-08-25,1574.239990,1556.780029,1572.650024,1571.209961,36193000,1571.209961
1254,2020-08-26,1572.569946,1559.729980,1570.719971,1560.189941,37543600,1560.189941
1255,2020-08-27,1573.380005,1555.270020,1561.359985,1564.560059,39295600,1564.560059
1256,2020-08-28,1578.339966,1567.130005,1570.459961,1578.339966,38558800,1578.339966
1257,2020-08-31,1577.549316,1562.240845,1577.549316,1568.390137,0,1568.390137

In [105]:
# remove the data column
df_russell.drop(['Date', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], axis=1, inplace=True)
df_russell

             High
0     1146.030029
1     1157.630005
2     1142.550049
3     1162.449951
4     1170.199951
...           ...
1253  1574.239990
1254  1572.569946
1255  1573.380005
1256  1578.339966
1257  1577.549316

[1258 rows x 1 columns]

In [106]:
# create a variable to predict 'n' days out there in the future
prediction_days = 30
# create another column shifted 'n' units up
df_russell['Prediction'] = df_russell[['High']].shift(-prediction_days)
# check it
df_russell.tail(10)

             High  Prediction
1248  1585.540039         NaN
1249  1585.160034         NaN
1250  1570.380005         NaN
1251  1563.369995         NaN
1252  1568.729980         NaN
1253  1574.239990         NaN
1254  1572.569946         NaN
1255  1573.380005         NaN
1256  1578.339966         NaN
1257  1577.549316         NaN

In [107]:
# create the independent data set
# convert the data frame into a numpy array and drop the
x = np.array(df_russell.drop(['Prediction'], axis=1))
# remove the last 'n' rows where 'n' is the prediction_days
x = x[: len(df_russell) - prediction_days]
print(x)

[[1146.0300293 ]
 [1157.63000488]
 [1142.55004883]
 ...
 [1473.7800293 ]
 [1482.40002441]
 [1474.36999512]]

In [108]:
# create the dependent data set
# convert the data frame into a numpy array
y = np.array(df_russell['Prediction'])
# get all the values except last 'n' rows
y = y[:-prediction_days]
print(y)

[1162.81994629 1165.22998047 1168.92004395 ... 1573.38000488 1578.33996582
 1577.54931641]

In [109]:
# split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)
# set the prediction days array equal to last 30 rows from the orginal
prediction_days_array = np.array(df_russell.drop(['Prediction'], axis=1))[-prediction_days:]
print(prediction_days_array)

[[1496.72998047]
 [1493.56005859]
 [1507.23999023]
 [1488.67004395]
 [1484.66003418]
 [1485.33996582]
 [1501.85998535]
 [1499.19995117]
 [1495.15002441]
 [1507.93005371]
 [1517.2199707 ]
 [1546.40002441]
 [1550.4699707 ]
 [1569.26000977]
 [1593.82995605]
 [1603.59997559]
 [1595.11999512]
 [1590.08996582]
 [1583.47998047]
 [1586.52001953]
 [1585.54003906]
 [1585.16003418]
 [1570.38000488]
 [1563.36999512]
 [1568.72998047]
 [1574.23999023]
 [1572.56994629]
 [1573.38000488]
 [1578.33996582]
 [1577.54931641]]

In [111]:
# ML Model
from sklearn.svm import SVR

In [112]:
# create and train the Support Vector Machine Regression using radial basis function
svr_rbf = SVR(kernel='rbf', C=1e3, gamma = 0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [113]:
# test hte model

In [114]:
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print(f"SVR_RBF accuracy: {svr_rbf_confidence}")

SVR_RBF accuracy: 0.7117934074229273

In [115]:
# print the predcition values
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)
print("-" * 20)
print(y_test)

[1642.28757353 1586.71406413 1171.8460659  1473.76549236 1136.37650844
 1653.3709831  1222.424609   1414.22678921 1239.00139779 1635.5176163
 1546.81499996 1570.45728759 1264.98605238 1653.22902183 1258.07515778
 1333.20391261 1603.47498322 1515.32431014 1577.49318413 1191.45901032
 1230.89061314 1557.7186229  1437.44115534 1225.4883198  1446.09079214
 1510.39052667 1579.32136401 1215.99575471 1565.58553093 1132.44092716
 1550.35182052 1526.36027926 1653.07750149 1209.61828731 1585.52566348
 1195.25306553 1571.16641004 1651.50930418 1537.50647442 1651.6788836
 1517.27702542 1558.26613003 1369.753021   1100.69136721 1475.43493884
 1101.1786798  1189.16966721 1606.93461441 1151.55942536 1275.77375323
 1393.65347709 1648.5650049  1590.96316032 1252.8350403  1652.49335134
 1169.19676801 1174.3202404  1652.21323272 1629.26297681 1418.889775
 1204.70459419 1605.73945122 1459.30620149 1529.08029202 1410.41724956
 1513.81703173 1189.5142436  1157.9287341  1543.97732338 1566.61166084
 1406.7420026  1384.69591061 1570.32580856 1653.05096193 1651.09798627
 1632.0807932  1190.08333254 1112.31834052 1632.23317997 1414.66004933
 1409.74105366 1182.73950046 1134.8310794  1575.39595225 1172.22749363
 1106.0163408  1405.3949267  1191.76867307 1647.77392618 1582.41383066
 1391.95798941 1258.75893849 1119.99812767 1543.41062175 1206.24787493
 1574.26032332 1547.22494862 1429.72657136 1539.39843286 1642.97864002
 1651.58424837 1633.66648262 1567.4680058  1653.02990959 1514.89642847
 1521.85569246 1650.65976439 1454.80397126 1236.30261756 1455.52023545
 1204.74363024 1647.97506737 1387.05299464 1559.69993234 1534.25804625
 1575.71606591 1567.44151729 1236.07555054 1487.61258614 1578.46427956
 1572.05777806 1509.60782039 1552.34527911 1415.68012825 1140.88249449
 1195.90879873 1651.66115495 1405.28827664 1653.11887743 1178.22831237
 1645.47842024 1609.58428622 1225.87491915 1446.71483001 1593.10490807
 1649.84426309 1628.43146207 1652.68033046 1404.17257448 1584.59301428
 1233.32441504 1652.4796     1401.92837602 1461.82788914 1392.43846937
 1595.77352869 1275.08625811 1254.25100425 1419.71501447 1584.21412043
 1174.73248971 1578.55006454 1600.75628942 1534.18426323 1284.17358385
 1652.68033046 1179.07727283 1139.95675705 1185.9492059  1139.6616171
 1411.80734193 1472.41461262 1651.89794741 1545.70286369 1175.53300695
 1242.46666472 1648.76406197 1530.96502219 1568.26121401 1224.42141177
 1415.24718894 1260.01129968 1652.72805489 1649.96160201 1505.36592938
 1183.43112325 1512.16934358 1597.22280335 1406.97443265 1220.32357992
 1517.73257239 1273.52119991 1551.90172446 1441.14965534 1549.82546377
 1530.49401414 1560.03101661 1596.44740926 1652.2267743  1569.88732974
 1424.63789576 1612.27644492 1107.4392111  1573.5738538  1603.42870125
 1428.52500731 1594.71002717 1221.99971334 1574.45124168 1653.36025176
 1592.51834716 1528.86756156 1502.00670786 1219.22577018 1231.1059038
 1561.21956679 1198.46826819 1435.98814346 1539.08641353 1566.47022715
 1423.09762669 1386.5011099  1182.17669185 1596.37533871 1642.71972191
 1282.31159096 1456.40596189 1114.17482909 1520.79769064 1428.95430121
 1648.6664543  1632.55343136 1558.13151611 1425.92825668 1442.12551724
 1259.7481204  1314.95633381 1462.44853959 1551.82025651 1595.86993318
 1321.22707139 1603.89045915 1416.89178468 1405.92803966 1607.33339134
 1568.72770399 1177.23151783 1454.76634723 1653.37350315 1430.63202039
 1415.09317271 1197.01425888 1481.93895573 1554.18914628 1420.49180309
 1142.64741437]
--------------------
[1661.18994141 1650.18994141 1192.04003906 1582.06005859 1118.38000488
 1740.66003418 1150.27001953 1413.4699707  1227.35998535 1679.66003418
 1608.06005859 1514.56005859 1411.36999512 1127.72998047 1262.93994141
 1456.76000977 1669.29003906 1550.30004883 1586.31005859 1217.13000488
 1050.66003418 1479.16003418 1376.56005859 1138.65002441 1500.73999023
 1484.82995605 1587.92004395 1213.52001953 1572.11999512 1025.2800293
 1615.52001953 1577.55004883 1711.73999023 1212.07995605 1600.29003906
 1204.40002441 1582.2800293  1671.         1490.9699707  1697.30004883
 1591.84997559 1529.14001465 1444.11999512 1088.23999023 1589.26000977
 1094.68994141 1169.60998535 1536.02001953 1132.61999512 1313.06005859
 1374.43005371 1696.75       1654.06994629 1346.88000488 1180.31994629
 1164.90002441 1162.81994629 1527.70996094 1708.56005859 1384.13000488
 1109.45996094 1588.02001953 1385.18994141 1547.27001953 1362.79003906
 1481.61999512 1203.68994141 1014.47998047 1580.20996094 1417.09997559
 1373.25       1459.41003418 1548.10998535 1554.77001953 1686.01000977
 1684.33996582 1209.91003418 1023.05999756 1527.32995605 1369.05004883
 1374.18994141 1241.68005371 1140.10998535 1399.43005371 1166.33996582
 1087.45996094 1369.48999023 1204.86999512 1580.89001465 1684.72998047
 1399.07995605 1253.94995117 1281.07995605 1565.57995605 1330.10998535
 1591.25       1474.36999512 1388.73999023 1576.58996582 1690.04003906
 1569.81005859 1687.84997559 1487.20996094 1693.70996094 1555.86999512
 1544.34997559 1633.85998535 1396.59997559 1289.18005371 1603.59997559
 1154.83996582 1723.45996094 1441.30004883 1598.93005371 1496.85998535
 1586.77001953 1639.89001465 1243.30004883 1586.52001953 1548.07995605
 1470.83996582 1602.70996094 1187.83996582 1510.61999512 1177.34997559
 1205.07995605 1669.5        1425.73999023 1582.16003418 1211.77001953
 1698.91003418 1580.7199707  1130.40002441 1428.0300293  1556.13000488
 1702.89001465 1688.11999512 1699.7800293  1514.93994141 1516.4699707
 1248.43005371 1526.32995605 1381.95996094 1438.59997559 1381.17004395
 1526.09997559 1200.2199707  1208.18005371 1420.77001953 1557.55004883
 1163.43005371 1551.51000977 1589.44995117 1519.5300293  1282.81994629
 1697.17004395 1030.56005859 1259.2800293  1210.38000488 1189.84997559
 1431.33996582 1406.43994141 1146.81005859 1540.02001953 1179.33996582
 1386.44995117 1689.33996582 1551.68994141 1331.97998047 1052.58996582
 1493.56005859 1263.45996094 1539.73999023 1139.93005371 1555.30004883
 1160.38000488 1543.81005859 1568.40002441 1406.86999512 1374.54003906
 1479.10998535 1225.14001465 1446.5        1414.7199707  1630.2800293
 1594.10998535 1221.70996094 1581.13000488 1496.82995605 1684.83996582
 1460.94995117 1536.16003418 1110.43005371 1537.77001953 1535.64001465
 1367.93994141 1517.01000977 1151.40002441 1679.98999023 1740.80004883
 1542.57995605 1516.54003906 1550.61999512 1385.06005859 1023.91998291
 1630.32995605 1112.67004395 1508.2199707  1562.72998047 1571.51000977
 1517.55004883 1392.33996582 1019.51000977 1588.92004395 1694.95996094
 1193.39001465 1376.36999512 1031.57995605 1555.07995605 1452.31994629
 1676.65002441 1660.81994629 1496.72998047 1487.94995117 1484.66003418
 1525.56005859 1439.73999023 1382.5300293  1348.56005859 1525.06994629
 1443.80004883 1681.68005371 1370.9699707  1405.20996094 1534.61999512
 1607.41003418  996.39001465 1446.47998047 1549.01000977 1408.33996582
 1414.95996094 1208.23999023 1501.48999023 1504.58996582 1399.13000488
 1118.33996582]